@font-face {
	src: url("./Montserrat-Regular.ttf") format("truetype");
	font-family: 'Montserrat';
	font-weight: 400;
  font-style: normal;
}

@font-face {
	src: url("./Montserrat-Medium.ttf") format("truetype");
	font-family: 'Montserrat';
	font-weight: 500;
	font-style: normal;
}

@font-face {
	src: url("./Montserrat-SemiBold.ttf") format("truetype");
	font-family: 'Montserrat';
	font-weight: 600;
	font-style: normal;
}

@font-face {
	src: url("./Montserrat-SemiBold.ttf") format("truetype");
	font-family: 'Montserrat';
	font-weight: 700;
	font-style: normal;
}

@font-face {
	src: url("./CormorantGaramond-Bold.ttf") format("truetype");
	font-family: 'Cormorant Garamond';
	font-weight: 700;
	font-style: normal;
}